<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand" routerLink="/">🍲 Recettes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recettes">Toutes les recettes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Connexion</a>
        </li>
      </ul>
  
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Rechercher</button>
      </form> -->
    </div>
  </nav>
  