<!-- <div class="container my-5" *ngIf="recipe">
    <h2>{{ recipe.name }}</h2>
    <img [src]="recipe.image" alt="{{ recipe.name }}" class="img-fluid mb-4" style="max-height: 400px;">
    <p><strong>Catégorie :</strong> {{ recipe.category }}</p>
    <p><strong>Ingrédients :</strong> {{ recipe.ingredients }}</p>
    <p><strong>Étapes :</strong></p>
    <p>{{ recipe.steps }}</p>
  </div>
  
  <div class="container my-5" *ngIf="!recipe">
    <p class="text-danger">Recette non trouvée.</p>
  </div>
   -->